.container{
    width: 100%;
    height: 800px;
    overflow-y: hidden;
}

.flex-colm{
    display: grid;
    grid-template-columns: repeat(4,300px);
}

.columns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.pictures{
height: 200px;
width: 200px;
}

.small-font{
    font-size: 0.6rem;
    color: darkgrey;
}

.ch-col{
    color: darkgrey;
}

.col-bl{
 color: black;
}