.section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    background-color: hsl(0, 0%, 100%);
    height: 800px;
    overflow-y: hidden;
    }
    
    .main-part{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 200px;
    gap: 30px;
    min-width: 30%;
    min-height: 200px;
    }
    
    .section-logo{
    display: flex;
    height: 100vh;
    width: 65%;
    }
    
    
    
    .main-part::after{
        content: url(../Assets/image-mockups.png);
        position: absolute;
        left: 58%;
        top: 14%;
        z-index: 9999;
        height: 100vh;
        -webkit-transform: translateY(-29%);
        transform: translateY(-29%);
    }
    
    .my-btn{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: none;
    color: white;
    background: #4CB8C4;  
    background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  
    background: linear-gradient(to right, #3CD3AD, #4CB8C4); 
    
    
    }
    
    .head{
        font-size: 40px;
    }